<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav Bar</title>
    <link rel="stylesheet" href="style.css">
</head>
<script src="js/script.js"></script>

<body>
    <nav>
        <a class = "icon" href="#">Event Management</a>
        <a href="#">Home</a>
        <a href="#">Events</a>
        <a href="#">Calendar</a>
        <a href="#">About</a>

        <div class="dropdown">
            <button class="dropbtn">User ▼</button>
            <div class="dropdown-content">
                <a href="#">Admin</a>
                <a href="#">User</a>
                <a href="#">Attendee</a>
            </div>
        </div>
        
        <button type="button" class="log-btn">LogOut</button>
    </nav>

    <div class="search">
        <input type="text" class = "search-box" placeholder="Search for events">
        <button class="search-btn">Search</button>
    </div>
</body>
</html>
